/*GERAL*/

:root {
    --primeira-cor: #ffffff;
    --segunda-cor: #000000;
    --degrade-escuro: rgb(39, 9, 63);
    --degrade-meio: rgb(175, 4, 141);
    --degrade-claro: rgb(23, 221, 194);
    --degrade-escuro-transparente: rgba(45, 11, 70, 0.36);
    --degrade-meio-transparente: rgba(175, 4, 141, 0.308);
    --cor-rose-neutra: pink;
    --degrade-claro-transparente: rgba(23, 221, 195, 0.582);
    --hover: rgb(243, 114, 217);
    --degrade-escuro-2: rgba(59, 16, 94, 0.332);
    --degrade-contato: rgba(77, 31, 114, 0.195);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--degrade-escuro);
    color: var(--primeira-cor);
}


/*MENU*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(60deg, var(--degrade-escuro), var(--degrade-claro-transparente), var(--degrade-meio));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100;
}

.navbar h4 {
    width: 100%;
    font-size: 50px;
    font-weight: 20;
    letter-spacing: 1px;
    color: var(--cor-rose-neutra);
    padding: 10px 3%;
    font-family: "Lavishly Yours", cursive;
}

.navbar ul {
    width: 70%;
    width: 100%;
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 30px;
    align-items: center;
    justify-content: end;
    padding-right: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--primeira-cor);
    position: relative;
}

.navbar ul li a::after {
    content: ''
        /*obrigatorio e pode usar para acrescentar a escrita no menu-list*/
    ;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(70deg, var(--degrade-escuro), var(--degrade-claro), var(--primeira-cor));
    transition: width 0.5s ease;
    /*transição do menu*/
}

.navbar ul li a:hover::after {
    width: 100%;
}

/*MOBILE*/
.barra-mobile {
    padding: 20px 4%;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.barra-mobile:hover {
    transform: translateY(-6px)scale(1);
    color: var(--degrade-claro);
    font-size: 2.5rem;
}

.menu-mobile {
    position: fixed;
    width: 0%;
    height: 100vh;
    padding: 20px 4%;
    background: linear-gradient(70deg, var(--degrade-escuro), var(--degrade-claro), var(--degrade-meio));
    top: 0;
    right: 0;
    border-radius: 16px 0 16px 0;
    z-index: 1000;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir_menu {
    width: 65%;
}

.menu-mobile.abrir_menu~.overlay {
    display: block;
}

.menu-mobile .btn-fechar {
    align-items: start;
    padding: 6px;
    top: 0;
}

.menu-mobile .btn-fechar i {
    color: #ffffff;
}

/* .menu-mobile.btn-fechar {
    width: 0%;
} */

.menu-mobile .nav-list {
    width: 100%;
    align-items: start;
    text-align: right;
    justify-content: start;
}

.nav-list li {
    padding: 18px 4%;
    margin-top: 1rem;
    list-style: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.nav-list li:hover {
    z-index: 1001;
    transform: translateY(-8px)scale(1.03);
    background: var(--degrade-escuro);
    border-radius: 16px;
}

.nav-list li a {
    text-decoration: none;
}

.menu-mobile .nav-list .ul-list a {
    color: var(--primeira-cor);
    font-size: 40px;
    padding: 40px 8%;
}

.overlay {
    background-color: rgba(28, 1, 24, 0.618);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
}

/*FINAL MOBILE*/


/*CABEÇALHO INICIO*/

.inicio {
    padding: 20px 4%;
    margin-top: 80px;
}

.inicio .text-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.inicio .text-principal h2 {
    font-size: 60px;
}

.inicio .brand h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-rose-neutra);
}

/* PARAGRO JUNTO COM FOTO*/

.juntar-foto-paragrafo {
    width: 100%;
    padding: 40px 4%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.inicio .box-img {
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 50%;
}

.inicio .box-img img {
    background: linear-gradient(60deg, var(--degrade-escuro), var(--degrade-claro-transparente), var(--degrade-meio));
    width: 300px;
    height: 300px;
    border-radius: 50%;
    max-width: 100%;
    align-items: end;
    flex-direction: end;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    animation: flutuar 5s ease-in-out infinite;
    /*animação aplicada*/
}

.inicio .box-paragrafo {
    background: linear-gradient(90deg, var(--degrade-claro-transparente), var(--degrade-escuro-transparente));
    align-items: start;
    justify-content: start;
    width: 100%;
    border-radius: 16px;
    padding: 20px 4%;
    width: 80%;
    box-shadow: rgba(1, 22, 42, 0.595) 0px 20px 30px -10px;
}

.inicio .box-paragrafo .text-paragrafo {
    font-size: 30px;
    letter-spacing: 1px;
    align-items: start;
    justify-content: center;
    padding: 20px 20px;

}

.inicio .box-paragrafo p span {
    color: var(--hover);
    font-weight: 600;
}

/*BOTAO CONTATO*/

.inicio .juntar-btns {
    width: 100%;
    padding: 20px 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inicio .box-btn .btn_default {
    /*fundo do botao telefone*/
    border-radius: 20px;
    padding: 10px;
    border: 2px solid var(--degrade-claro-transparente);
    box-shadow: rgba(1, 22, 42, 0.595) 0px 20px 30px -10px;
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.inicio .box-btn .btn_default:hover {
    transform: translateY(-8px)scale(1.03);
}

.inicio .box-btn .btn_default i {
    color: var(--primeira-cor);
    padding: 3px;
    justify-content: start;
}

.inicio .box-btn .btn_default a {
    color: var(--primeira-cor);
    padding: 3px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.inicio .juntar-btns .btn button {
    /*botao ver projetos*/
    padding: 14px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    color: var(--primeira-cor);
    border: 2px solid var(--degrade-claro-transparente);
    background: none;
    box-shadow: rgba(1, 22, 42, 0.595) 0px 20px 30px -10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.inicio .juntar-btns .btn button:hover {
    transform: translateY(-8px)scale(1.03);
}

/*SOBRE MIM*/

.sobre {
    padding: 20px 4%;
    width: 100%;
}

.sobre h1 {
    display: flex;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin: 30px;
    top: 50px;
}

.sobre .box-sobre {
    max-width: 1000px;
    margin: 0 auto;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--degrade-claro);
    border-radius: 16px;
    box-shadow: rgb(1, 14, 28) 0px 20px 30px -10px;
}

.sobre .info-sobre {
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 40px 4%;
    text-indent: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/*MEUS PROJETOS*/

.portifolio {
    width: 100%;
    padding: 20px 3%;
}

.portifolio .title-work {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    padding: 40px;
}

.box-projetos {
    /*fundo de todos projetos*/
    padding: 30px 3%;
    border-radius: 16px;
    background-color: none;
    border: none;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.box-projetos .box-imagem-projeto {
    overflow: hidden;
    border-bottom: 1px solid var(--degrade-claro-transparente);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(16px);
    transition: all 0.5s ease;
    cursor: pointer;

}

.box-projetos .box-imagem-projeto:hover {
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 30px #0000009f;
}

.box-projetos .box-imagem-projeto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.box-projetos .info-projeto {
    padding: 20px 3%;
}

.box-projetos .info-projeto .title-projeto {
    font-size: 25px;
}

.box-projetos .info-projeto .info-projetos {
    font-size: 15px;
    margin-top: 2px;
}

/*CONTATO*/

.contato {
    padding: 40px 4%;
}

.contato-title {
    font-size: 40px;
    padding: 20px 4%;
    text-align: center;
    margin: 50px;
}

.contato .formulário-contato {
    max-width: 650px;
    margin: 0 auto;
    /*centraliza tudo no meio*/
    padding: 40px 4%;
    border-radius: 20px;
    border: 2px solid var(--degrade-claro-transparente);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.formulário-contato .box-msg-formulario-1 {
    width: 100%;
    margin: 0 auto;
    border: 2px solid var(--degrade-claro-transparente);
    background: none;
    padding: 15px;
    border-radius: 8px;
    outline: none;
    color: var(--primeira-cor);
    background: var(--degrade-escuro);
}

.nome-form {
    padding: 10px;
}

.formulário-contato .box-msg-formulario-2 {
    width: 100%;
    margin: 0 auto;
    border: 2px solid var(--degrade-claro-transparente);
    background: none;
    padding: 15px;
    border-radius: 8px;
    outline: none;
    color: var(--primeira-cor);
    background-color: var(--degrade-escuro);
}

.formulário-contato button {
    background: linear-gradient(60deg, var(--degrade-escuro), var(--degrade-claro-transparente), var(--degrade-meio));
    border: 2px solid var(--degrade-claro-transparente);
    border-radius: 8px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(32, 31, 31, 0.22) 0px 15px 12px;
    width: 97%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--primeira-cor);
    font-size: 1.2rem;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
    cursor: pointer;
}

.formulário-contato button:hover {
    transform: translateY(-5px)scale(1.03);
}

/*RODAPE*/

.rodape {
    padding: 20px 4%;
}


/*REDES SOCIAS*/

.redes-sociais {
    display: flex;
    padding: 20px 4%;
    text-align: center;
    justify-content: center;
    margin: 50px;
    gap: 30px;
}

.redes-sociais a {
    font-size: 30px;
    color: #81c0d1;
    transition: 0.3s;
    border: 1px solid var(--degrade-claro-transparente);
    padding: 10px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.redes-sociais a:hover {
    color: var(--hover);
    /* cor personalizada */
    border: 1px solid var(--hover);
    transform: translateY(-10px)scale(1.03);
}

.footer-copy {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ANIMAÇÃO FLUTUAR*/

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
    background:
        radial-gradient(cicle at 10% 20%, var(--gradiente-azul) 0%, transparent 20%),
        radial-gradient(cicle at 50% 80%, var(--roxo) 0%, transparent 20%) var(--gradiente-azul);
}

@keyframes flutuar {

    /*aqui crio a animação e dpois aplico na foto perfil*/
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7%);
    }
}

.barra-mobile {
    display: none;
}

.menu-mobile {
    display: none;
}