/*Geral*/

:root {
    --bacgroud-1: #e098fa;
    --backgroud: #bda5c6;
    --primry-text: #d8d9e8;
    --secundary-text: #160123;
    --secundary-color: #000000;
    --gradiente-azul: #07f5f155;
    --cor-span-brand: oklch(48.509% 0.20107 344.579);
    --roxo: oklch(55.8% 0.288 302.321);
    --span: #b271c8;
    --degrade-transparente: rgba(63, 252, 249, 0.134);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--secundary-text);  
}

/*Menu*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.navbar {
    position: fixed;
    /* display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    margin: 0;
    top: 0; */
    z-index: 100;
    background: linear-gradient(70deg, rgba(8, 162, 176, 0.32), rgba(148, 45, 233, 0.15) );
}


/*INICIO NAVBAR*/

main {
    display: grid;
}

h4 {
    width: 100%;
    display: flex;
    align-items: start;
    text-align: start;
    font-size: 3rem;
    font-weight: 10;
    font-family: "Fleur De Leah", cursive;
    color: #ffffff;
    margin: 0 0 0 2.5rem;
}
.menu {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: end;
    gap: 3rem;
    margin: .5rem 4rem 0.5rem 0.5rem;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 500;
}
.menu-home {
    color: var(--backgroud);
    text-decoration: none;
    position: relative;
}
.menu-home::after {
    content: '' /*obrigatorio e pode usar para acrescentar a escrita no menu-list*/;
    height: 2.5px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(80deg, var(--primry-text), rgba(43, 211, 226, 0.32), var(--roxo) );
    transition: width 0.5s ease;  /*transição do menu*/
}
.menu-home:hover::after {
    width: 100%;
}

/*MOBILE*/
.mobile {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    }
.btn-flutuante {
    display: flex;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    padding: 0rem 1rem 1rem 1.5rem;
}
.menu-mobile {
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.menu-mobile:hover {
    color: #ffffff;
    text-decoration: underline;
}
.li-home  {
    display: flex;
    align-items: start;
    justify-content: start;
    color: var(--backgroud);
    text-decoration: none;
    padding: .3rem;
}


/*banner cabeçalho*/

.text-principal {
    min-width: 100%;
    text-align: start;
    font-size: 3rem;
    justify-items: start;
    text-transform: uppercase;
    margin: 7.5rem 0rem 0rem 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--span);
}
.brand {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primry-text);
    width: 100%;
    text-align: start;
    font-size: 1rem;
    margin: -2rem 0rem 2rem 3rem; /* ^ < | >  posições de puxar */
    top: 0rem;
}
.box-paragrafo {
    width: 55%;
    background: linear-gradient(80deg, rgba(43, 211, 226, 0.32), var(--secundary-text) );
    border-radius: 16px;
    margin: .5rem 0rem 2rem 2.5rem;
    padding: 1rem;
    border: none;
    position: relative;
    /* backdrop-filter: blur (30px); */
}
.text-paragrafo {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: left;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    top: -0;
    gap: .8rem;
    padding: 1rem;
    margin: 1rem;
    word-spacing: 5px;
    color: #ffffff;
}
span {
    color: var(--span);
    font-weight: 700;
    font-size: 2rem;
}
.foto-perfil {
    width: 100%;
    text-align: right;
    justify-content: right;
    position:absolute;
    margin: 2rem;
    position: absolute;  
}
#foto_perfil {
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin: 8rem 4rem 0 1rem;
    border-radius: 50%;
    background: linear-gradient(70deg, rgba(27, 184, 199, 0.32), rgba(54, 6, 93, 0.15) );
    animation: flutuar 5s ease-in-out infinite; /*animação aplicada*/
}
.box-btn {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin: 1.5rem;
}

#phone_button {
    display: flex;
    color: #ede9ef;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    gap: .2rem; 
}

.btn_default {
    color: #ede9ef;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(70deg, rgba(8, 162, 176, 0.32), rgba(148, 45, 233, 0.15) );
    border-radius: 1rem;
    text-decoration: none;
    padding: 1rem;
    border: none;
    list-style: none;
    padding: .5rem 3rem .5rem 3rem;
    cursor: pointer;
}
.btn_default:hover {
    transform: translateY(-4px);
    box-shadow:  0 0 30px #bda5c625;
}

.btn {
    display: flex;
    color: #ede9ef;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(70deg, rgba(8, 162, 176, 0.32), rgba(148, 45, 233, 0.15) );
    border-radius: 1rem;
    text-decoration: none;
    padding: 1rem;
    border: none;
    list-style: none;
    padding: .5rem 3rem .5rem 3rem;
    margin: .5rem 3rem .5rem 3rem;
    cursor: pointer;
}
.btn:hover {
    transform: translateY(-4px);
    box-shadow:  0 0 30px #bda5c625;
}

#i-tel {
    margin-right: .5rem; 
}
@media screen and (max-width: 768px){

    
}

/*SOBRE*/
.sobre {
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.box-sobre {
    width: 80%;
    background: linear-gradient(70deg, rgba(8, 162, 176, 0.114), rgba(125, 102, 145, 0.055) );
    align-items: center;
    align-content: center;
    margin: 7rem;
    padding: 2rem;
    border: .1px solid var(--backgroud);
    border-radius: 16px;
}
.title-sobre {
    color: var(--primry-text);
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    top: 1rem;
    padding: 1rem;
}
.info-sobre {
    color: var(--primry-text);
    width: 100%;
    text-align: start;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    top: 2rem;
    padding: 1rem;
    margin: 1rem;
}

/*PROJETOS*/
#work {
    width: 100%;
}

.portifolio {
    padding: 6rem 2rem;
}
.title-work {
    color: var(--primry-text);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.box-projetos { /*caixa dos projeto no geral*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    max-width: 1500px; 
}
.box-imagem-projeto {  /* caixa dos projetos individual*/
    background: var(--backgroud);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--degrade-transparente);
    overflow: hidden; /*faz a foto se ajustar dentro do quadro ficando mesmo tamanho*/
    transition: all 0.5s ease;
    cursor: pointer;
}
.box-imagem-projeto:hover {
    box-shadow: 0 0 30px rgba(28, 147, 173, 0.277);
    transform: translateY(-10px)scale(1.03);
}

.imagem-projeto { /*img principal dos projetos*/
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.info-projeto {
    padding: 1.5rem;
}
.title-projeto {
    line-height: 1.25rem;
    font-size: 1.3rem;
    margin-bottom: .3rem;
}
.info-projetos {
    margin-bottom: 5px;
}

/*CONTATO*/

.contato {
    padding: 6rem 2rem;
}
.contato-title {
    color: var(--backgroud);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px; 
}
.formulário-contato { /*fundo do box total*/
    max-width: 700px;
    margin: 0 auto;
    background: #bda5c610;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--backgroud);
    border-radius: 16px;
}
.nome-form {
    margin-bottom: 1.5rem;
}
.box-msg-formulario { /*fundo do botao nome e mensagem*/
    width: 100%;
    padding: 1rem;
    background: #af4cd310;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid var(--backgroud);
    outline: none;
}
.box-msg-formulario:focus {   /*animação do entre em contato*/
    border-color: var(--primry-text);
    box-shadow:  0 0 30px rgba(78, 177, 192, 0.22);
}
.botao-formulario {
    color: var(--backgroud);
    background: linear-gradient(70deg, rgba(35, 173, 186, 0.707), rgba(148, 45, 233, 0.15) );
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all .5s ease;
}
.botao-formulario:hover {
    transform: translateY(-4px);
    box-shadow:  0 0 30px #bda5c625;
}
#barra_menu {
    font-size: 2rem;
    border-radius: 10px;
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
    background: 
    radial-gradient(cicle at 10% 20%, var(--gradiente-azul) 0%, transparent 20%),
    radial-gradient(cicle at 50% 80%, var(--roxo) 0%, transparent 20%)
    var(--bacgroud-1);
}
@keyframes flutuar {  /*aqui crio a animação e dpois aplico na foto perfil*/
   0%, 100%  {
    transform: translateY(0);
   }
   50% {
    transform: translateY(-7%);
   }
}

.mobile {
    display: none;
}

